@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <Table name="Border">
        <tr>
            <td class="Box"><h2>Calender</h2><br/><button>go</button></td>
            <td class="Box"><h2>Temp</h2><br /><button>go</button></td>

        </tr>
        <tr>
            <td class="Box"><h2>Rooms</h2><br /><button>go</button></td>
            <td class="Box"><h2>Admin</h2><br /><button>go</button></td>
        </tr>
    </Table>
</div>

